/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-5 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
    }
    #stats-5 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #stats-5 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #stats-5 .cs-title {
        color: var(--bodyTextColorWhite);
    }
    #stats-5 .cs-text {
        color: var(--bodyTextColorWhite);
        opacity: 0.8;
    }
    #stats-5 .cs-card-group {
        width: 100%;
        max-width: 31.25rem;
        padding: 0 1.25rem;
        /* 40px - 68px */
        padding-top: clamp(2.5rem, 5.7vw, 4.25rem);
        /* 48px - 80px */
        padding-bottom: clamp(3rem, 6.5vw, 5rem);
        margin: 0;
        background: #fff;
        border-top: 8px solid var(--primaryLight);
        border-radius: 0.3125rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        gap: 3.4375em;
        box-shadow: 0 1.25em 2.5em 0 rgba(0, 0, 0, 0.05);
        /* prevents padding from adding to the width of the container */
        box-sizing: border-box;
    }
    #stats-5 .cs-item {
        text-align: center;
        list-style: none;
        width: 100%;
    }
    #stats-5 .cs-number {
        /* 39px - 61px */
        font-size: clamp(2.4375rem, 4.7vw, 3.8125rem);
        font-weight: 700;
        line-height: 1.2em;
        /* 4px - 8px */
        margin-bottom: clamp(0.25rem, 0.78vw, 0.5rem);
        color: var(--primary);
        display: block;
    }
    #stats-5 .cs-header {
        /* 16px - 25px */
        font-size: clamp(1rem, 2vw, 1.5625rem);
        font-weight: 700;
        line-height: 1.2em;
        color: var(--headerColor);
    }
    #stats-5 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #stats-5 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #stats-5 .cs-button-solid:hover:before {
        width: 100%;
    }
    #stats-5 .cs-background {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 65%;
        z-index: -1;
    }
    #stats-5 .cs-background:before {
        /* Overlay */
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: #000;
        opacity: 0.8;
        top: 0;
        left: 0;
        z-index: 1;
    }
    #stats-5 .cs-background img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
/* In-between - 500px */
@media only screen and (min-width: 31.25rem) {
    #stats-5 .cs-card-group {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0;
        row-gap: 3.4375rem;
        column-gap: 6.25rem;
    }
    #stats-5 .cs-item {
        /* sets even spacing */
        width: 7.8125rem;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #stats-5:before {
        height: 37.5%;
    }
    #stats-5 .cs-card-group {
        max-width: 100%;
        column-gap: 0;
        row-gap: 0;
        justify-content: space-around;
    }
    #stats-5 .cs-item {
        /* reset width */
        width: auto;
    }
}
/* Big Desktop Parallax Effect - 1300px */
@media only screen and (min-width: 81.25rem) {
    #stats-5 .cs-background {
        background: url("https://csimg.nyc3.digitaloceanspaces.com/Stats/bg.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    #stats-5 .cs-background img {
        display: none;
    }
}

                                