/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-539 {
        padding: var(--sectionPadding);
    }
    #stats-539 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #stats-539 .cs-content {
        text-align: left;
        /* changes to 41% at tablet */
        width: 100%;
        max-width: 32.625rem;
    }

    #stats-539 .cs-color {
        color: var(--primaryLight);
    }
    #stats-539 .cs-title {
        max-width: 17ch;
    }
    #stats-539 .cs-card-group {
        /* changes to 43% at tablet */
        width: 90%;
        max-width: 32.625rem;
        margin: 0 auto 0 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        /* 16px - 52px */
        row-gap: clamp(1rem, 5vw, 3.25rem);
    }
    #stats-539 .cs-item {
        width: 40%;
        max-width: 12.5rem;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #stats-539 .cs-number {
        /* 39px - 61px */
        font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
        font-weight: 900;
        line-height: 1.2em;
        margin: 0 0 0.5rem 0;
        color: var(--headerColor);
        display: block;
    }
    #stats-539 .cs-desc {
        /* 16px - 20px */
        font-size: clamp(1rem, 2vw, 1.25rem);
        line-height: 1.5em;
        font-weight: 400;
        margin: 0;
        color: var(--bodyTextColor);
    }
    #stats-539 .cs-big-link {
        width: 100%;
        /* changes to a clamp at tablet */
        height: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    #stats-539 .cs-big-link:hover .cs-background img {
        transform: scale(1.1);
    }
    #stats-539 .cs-background {
        width: 100%;
        height: 100%;
        /* clips the img from overflowing the container on hover */
        overflow: hidden;
        display: block;
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
    }
    #stats-539 .cs-background:before {
        /* color overlay */
        content: "";
        width: 100%;
        height: 100%;
        background: var(--primary);
        opacity: 0.72;
        background-blend-mode: multiply;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 10;
    }
    #stats-539 .cs-background img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
        transition: transform 0.7s;
    }
    #stats-539 .cs-link-icon {
        /* 80px - 110px */
        width: clamp(5rem, 11vw, 6.875rem);
        height: clamp(5rem, 11vw, 6.875rem);
        border-radius: 50%;
        position: absolute;
        z-index: 10;
        transition:
            transform 0.3s,
            box-shadow 0.3s;
    }
    #stats-539 .cs-link-icon:hover {
        transform: scale(1.1);
        box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 29px 0px;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #stats-539 .cs-container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    #stats-539 .cs-content {
        width: 41%;
    }
    #stats-539 .cs-card-group {
        width: 43%;
    }
    #stats-539 .cs-big-link {
        /* 280px - 580px */
        height: clamp(20rem, 44vw, 36.25rem);
    }
}

                                