/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1377 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;
    }
    #services-1377 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #services-1377 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #services-1377 .cs-topper {
        color: var(--secondary);
    }
    #services-1377 .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        /* 16px - 20px */
        gap: clamp(1rem, 2.3vw, 1.25rem);
    }
    #services-1377 .cs-item {
        list-style: none;
        width: 100%;
        /* 210px - 305px */
        min-height: clamp(13.125rem, 30vw, 19.0625rem);
        margin: 0;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        /* 16px - 24px */
        padding: clamp(1rem, 1.8vw, 1.5rem);
        /* 24px - 32px */
        padding-top: clamp(1.5rem, 2.3vw, 2rem);
        background-color: #fff;
        border-radius: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        grid-column: span 12;
        gap: 3rem;
        position: relative;
        z-index: 1;
        transition: background-color 0.3s;
    }
    #services-1377 .cs-item:hover {
        background-color: var(--primary);
    }
    #services-1377 .cs-item:hover .cs-icon,
    #services-1377 .cs-item:hover .cs-arrow {
        filter: grayscale(1) brightness(1000%);
    }
    #services-1377 .cs-item:hover .cs-h3 {
        color: #fff;
    }
    #services-1377 .cs-item:hover .cs-arrow-wrapper {
        border-color: #fff;
    }
    #services-1377 .cs-icon {
        width: auto;
        height: 2.5rem;
        transition: filter 0.3s;
    }
    #services-1377 .cs-link {
        text-decoration: none;
        color: var(--headerColor);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        gap: 0.625rem;
    }
    #services-1377 .cs-h3 {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
        font-weight: bold;
        line-height: 1.2em;
        text-align: inherit;
        /* if a word is too long for the card, break it onto a new line */
        word-break: break-word;
        margin: 0;
        transition: color 0.3s;
    }
    #services-1377 .cs-arrow-wrapper {
        width: 3rem;
        height: 3rem;
        border: 1px solid #bababa;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* prevents the parent flexbox from shrinking the arrow */
        flex-shrink: 0;
        transition: border-color 0.3s;
    }
    #services-1377 .cs-arrow {
        width: auto;
        height: 0.75rem;
        transition: filter 0.3s;
    }
}
/* In between - 500px */
@media only screen and (min-width: 31.25rem) {
    #services-1377 .cs-item {
        grid-column: span 6;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1377 .cs-item {
        text-align: left;
        align-items: flex-start;
        grid-column: span 3;
    }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #services-1377 .cs-link {
        flex-direction: row;
    }
}

                                