/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1829 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
  }
  #services-1829:before {
    content: '';
    width: 100%;
    height: 100%;
    background: #F6EDDF;
    opacity: 0.9;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  #services-1829 .cs-container {
    width: 100%;
    max-width: 55rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
  }
  #services-1829 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    z-index: 1;
  }
  #services-1829 .cs-title {
    max-width: none;
  }
  #services-1829 .cs-card-group {
    width: 100%;
    /* changes to 100% at tablet */
    max-width: 22.5rem;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    flex-direction: column;
    align-items: stretch;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #services-1829 .cs-item {
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    /* 368px - 428px, changes to a clamp at desktop */
    padding-top: clamp(23rem, 60vw, 26.75rem);
    border-radius: 16.25rem;
    overflow: hidden;
    grid-column: span 12;
    position: relative;
    z-index: 1;
  }
  #services-1829 .cs-item:before {
    /* color border */
    content: '';
    border-radius: 16.25rem;
    border: 5px solid var(--primary);
    opacity: 0.3;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: 2;
    /* prevents mouse from interacting with it */
    pointer-events: none;
  }
  #services-1829 .cs-item:after {
    /* color border white bg */
    content: '';
    border-radius: 16.25rem;
    border: 5px solid #fff;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: 1;
    /* prevents mouse from interacting with it */
    pointer-events: none;
  }
  #services-1829 .cs-item:hover .cs-flex:before {
    opacity: 1;
  }
  #services-1829 .cs-item:hover .cs-h3,
  #services-1829 .cs-item:hover .cs-job {
    color: var(--bodyTextColorWhite);
  }
  #services-1829 .cs-item:hover .cs-picture img {
    transform: scale(1.1);
  }
  #services-1829 .cs-link {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
  }
  #services-1829 .cs-flex {
    text-align: center;
    width: 100%;
    padding: 1rem 0 1.5rem 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #services-1829 .cs-flex:before {
    /* background color */
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.3s;
  }
  #services-1829 .cs-h3 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    width: 70%;
    margin: 0;
    color: var(--headerColor);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 1;
  }
  #services-1829 .cs-picture {
    width: auto;
    height: 100%;
    box-sizing: border-box;
    /* clips img tag from overflowing it on hover */
    overflow: hidden;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 1px;
    right: 1px;
    left: 1px;
    z-index: -4;
  }
  #services-1829 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.7s;
  }
  #services-1829 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-1829 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* makes the top of the image start at the top of the parent */
    object-position: top;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-1829 .cs-graphic1 {
    /* 200px - 548px */
    width: clamp(12.5rem, 30vw, 34.25rem);
    height: auto;
    opacity: 0.5;
    display: block;
    position: absolute;
    top: calc(0/16 * 1rem);
    left: 0;
    z-index: 0;
  }
  #services-1829 .cs-graphic2 {
    width: calc(548/16 * 1rem);
    height: auto;
    opacity: 0.5;
    display: block;
    position: absolute;
    right: 0;
    bottom: calc(0/16 * 1rem);
    z-index: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1829:before {
    background: linear-gradient(89deg, rgba(255, 243, 236, 0.9) 44.46%, rgba(255, 243, 236, 0) 78.47%);
    opacity: 1;
  }
  #services-1829 .cs-card-group {
    width: 60%;
    max-width: 100%;
  }
  #services-1829 .cs-item {
    height: auto;
    /* 216px - 336px */
    padding-top: clamp(13.5rem, 23vw, 21rem);
    align-items: stretch;
    grid-column: span 6;
  }
  #services-1829 .cs-flex {
    height: auto;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-1829 .cs-container {
    max-width: 80rem;
  }
  #services-1829 .cs-card-group {
    width: 100%;
  }
  #services-1829 .cs-item {
    grid-column: span 3;
  }
}
/* Large Desktop - 1920px */
@media only screen and (min-width: 120rem) {
  #services-1829 .cs-graphic1 {
    margin-right: calc(400/16 * 1rem);
    left: auto;
    right: 50%;
  }
  #services-1829 .cs-graphic2 {
    margin-left: calc(420/16 * 1rem);
    right: auto;
    left: 50%;
  }
}
                                