/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1062 {
        padding: var(--sectionPadding);
    }
    #services-1062 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #services-1062 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #services-1062 .cs-title {
        max-width: 18ch;
    }
    #services-1062 .cs-card-group {
        margin: 0;
        padding: 0;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1.25rem;
    }
    #services-1062 .cs-item {
        width: 100%;
        text-align: left;
        list-style: none;
        margin: 0;
        /* 24px - 32px */
        padding: clamp(1.5rem, 3vw, 2rem);
        background-color: #fff;
        box-shadow: 0px 12px 80px 0px rgba(26, 26, 26, 0.08);
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        grid-column: span 12;
        grid-row: span 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        z-index: 1;
    }
    #services-1062 .cs-icon-wrapper {
        width: 4.25rem;
        height: 4.25rem;
        margin: 0 0 1.5rem 0;
        background-color: var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    #services-1062 .cs-icon {
        width: 3rem;
        height: auto;
    }
    #services-1062 .cs-h3 {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
        line-height: 1.2em;
        font-weight: bold;
        text-align: inherit;
        margin: 0 0 0.75rem 0;
        color: var(--headerColor);
    }
    #services-1062 .cs-item-text {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        max-width: 28.125rem;
        margin: 0;
        padding: 0;
        color: var(--bodyTextColor);
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1062 .cs-item {
        grid-column: span 4;
    }
}

                                