/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-2335 {
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #hero-2335 .cs-wrapper {
    width: 100%;
    padding: clamp(9rem, 23.95vw, 16.125rem) 1rem 0rem;
    position: relative;
    z-index: 1;
  }
  #hero-2335 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5.5rem;
  }
  #hero-2335 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 39.375rem;
    /* 60px - 80px top & Bottom */
    /* 16px - 32px left & right */
    padding: clamp(3.75rem, 8vw, 5rem) clamp(1rem, 5vw, 2rem);
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    position: relative;
    z-index: 1;
  }
  #hero-2335 .cs-overlay {
    width: 100%;
    height: 100%;
    background-color: #111418;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #hero-2335 .cs-graphic {
    width: 117.8125rem;
    height: auto;
    opacity: 0.1;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  #hero-2335 .cs-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2em;
    width: 100%;
    max-width: 17ch;
    margin: 0 0 1rem;
    color: var(--bodyTextColorWhite);
    position: relative;
  }
  #hero-2335 .cs-tag {
    /* 25px - 39px */
    font-size: clamp(1.5625rem, 4vw, 2.4375rem);
    margin-bottom: 0.25rem;
    display: block;
  }
  #hero-2335 .cs-text {
    /* 16px - 20px */
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    line-height: 1.5em;
    width: 100%;
    max-width: 36.25rem;
    /* 28px - 40px */
    margin: 0 0 clamp(1.75rem, 4vw, 2.5rem);
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  #hero-2335 .cs-button-solid {
    font-size: 1rem;
    text-align: center;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    /* clips corners of the before element */
    overflow: hidden;
    margin: 0;
    color: #fff;
    padding: 0 1.75rem;
    background-color: var(--primary);
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  #hero-2335 .cs-button-solid:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #hero-2335 .cs-button-solid:hover {
    color: #fff;
  }
  #hero-2335 .cs-button-solid:hover:before {
    width: 100%;
  }
  #hero-2335 .cs-picture {
    width: 100%;
    /* 427px - 581px */
    max-width: clamp(26.6875rem, 60vw, 42.5rem);
    height: auto;
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 7;
  }
  #hero-2335 .cs-picture img {
    width: 100%;
    height: auto;
  }
  #hero-2335 .cs-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #hero-2335 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-2335 {
    /* 80px - 112px */
    --paddingBottom: clamp(5rem, 10vw, 7rem);
    padding: clamp(9rem, 23.95vw, 16.125rem) 1rem 0rem;
    padding-bottom: var(--paddingBottom);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5.625rem;
  }
  #hero-2335 .cs-wrapper {
    display: contents;
  }
  #hero-2335 .cs-container {
    justify-content: flex-start;
    flex-direction: row;
  }
  #hero-2335 .cs-content {
    text-align: left;
    width: 100%;
    max-width: 100%;
    padding: 5rem 2rem;
    box-sizing: border-box;
    align-items: flex-start;
  }
  #hero-2335 .cs-overlay {
    width: 100vw;
    border-radius: 0 18.75rem 18.75rem 0;
    left: auto;
    right: 0;
  }
  #hero-2335 .cs-title {
    width: 55%;
  }
  #hero-2335 .cs-text {
    width: 50%;
  }
  #hero-2335 .cs-picture {
    width: 56%;
    position: absolute;
    bottom: calc(var(--paddingBottom)*-1 - 3rem);
    right: -0.625rem;
  }
  #hero-2335 .cs-background {
    height: auto;
    /* 180px - 210px */
    bottom: clamp(220px, 15vw, 270px);
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #hero-2335 {
    padding-left: 2rem;
  }
  #hero-2335 .cs-content {
    width: 80%;
    max-width: 62.5rem;
    padding-left: 0;
  }
  #hero-2335 .cs-graphic {
    width: 186.375rem;
  }
  #hero-2335 .cs-picture {
    width: 50vw;
    /* 32px - 80px */
    right: 1rem;
  }
}

/*-- -------------------------- -->
<---           Logos            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #logos-2335 {
    padding: 0 1rem;
  }
  #logos-2335 .cs-logo-container {
    text-align: center;
    width: 100%;
    max-width: 80rem;
    /* 60px - 80px top & bottom */
    /* 16px - 108px left & right */
    padding: clamp(3.75rem, 8vw, 5rem) clamp(1rem, 5vw, 6.75rem);
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(1rem, 4vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #logos-2335 .cs-logo-container:before {
    content: '';
    width: 100%;
    height: 100%;
    background: #FFFCF3;
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #logos-2335 .cs-logo-title {
    font-size: 1.25rem;
    text-transform: initial;
    font-weight: 700;
    margin: 0;
    width: 100%;
    max-width: 100%;
    color: var(--headerColor);
  }
  #logos-2335 .cs-logo-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-self: stretch;
  }
  #logos-2335 .cs-logo {
    width: 45%;
    max-width: 12.5rem;
    height: auto;
    margin: 0;
    mix-blend-mode: darken;
    display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #logos-2335 {
    padding-left: 2rem;
    position: relative;
    z-index: 100;
  }
  #logos-2335 .cs-logo-container {
    align-items: flex-start;
  }
  #logos-2335 .cs-logo-container:before {
    width: 100vw;
    left: 0;
  }
  #logos-2335 .cs-logo-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 4rem;
    justify-content: space-between;
  }
  #logos-2335 .cs-logo {
    width: 100%;
    grid-column: span 3;
    /* the max width becomes whatever the actual width of the image is */
    max-width: max-content;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #logos-2335 .cs-logo-wrapper {
    justify-content: space-between;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #logos-2335 .cs-logo-container {
    flex-direction: row;
  }
  #logos-2335 .cs-logo-title {
    text-align: left;
  }
}
                                