/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-2221 {
    padding: var(--sectionPadding);
    background-color: #fdfaf8;
  }
  #services-2221 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-2221 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 51.25rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-2221 .cs-title {
    margin: 0;
  }
  #services-2221 .cs-ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* 32px - 40px */
    gap: clamp(2rem, 4vw, 2.5rem);
  }
  #services-2221 .cs-li {
    width: 100%;
    /* 32px - 40px */
    padding-bottom: clamp(2rem, 4vw, 2.5rem);
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    flex-direction: column;
    /* 24px - 32px */
    gap: clamp(1.5rem, 4vw, 2rem);
  }
  #services-2221 .cs-number {
    /* 49px - 61px */
    font-size: clamp(3.0625rem, 6vw, 3.8125rem);
    font-weight: 700;
    line-height: 1.2em;
    color: var(--primary);
    opacity: 0.2;
    display: block;
  }
  #services-2221 .cs-link {
    text-decoration: none;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(2, auto);
    /* 8px - 32px */
    column-gap: clamp(0.5rem, 3vw, 2rem);
    row-gap: 0.5rem;
  }
  #services-2221 .cs-link:hover .cs-h3 {
    color: var(--primary);
  }
  #services-2221 .cs-link:hover .cs-icon {
    filter: none;
    transform: scale(1.2);
  }
  #services-2221 .cs-h3 {
    /* 25px - 39px */
    font-size: clamp(1.5625rem, 3vw, 2.4375rem);
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    margin: 0;
    color: var(--headerColor);
    transition: color 0.3s;
  }
  #services-2221 .cs-icon {
    width: 100%;
    /* 48px - 64px */
    max-width: clamp(3rem, 7vw, 4rem);
    height: auto;
    filter: grayscale(1);
    display: block;
    transition: transform 0.3s, filter 0.3s;
    transform-origin: bottom left;
  }
  #services-2221 .cs-text {
    /* 16px - 20px */
    font-size: clamp(1rem, 1.4vw, 1.25rem);
    max-width: none;
  }
  #services-2221 .cs-picture {
    width: 100%;
    height: 50vw;
    margin-top: 0.5rem;
    display: block;
  }
  #services-2221 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-2221 .cs-li {
    flex-direction: row;
    align-items: center;
  }
  #services-2221 .cs-picture {
    display: none;
  }
  #services-2221 .cs-icon {
    /* centers the arrow icon vertically */
    grid-row: span 2;
  }
}
                                