/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-2437 {
    padding: var(--sectionPadding);
    background-color: #030711;
    position: relative;
    z-index: 1;
  }
  #services-2437 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 26.25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-2437 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-2437 .cs-title {
    width: 100%;
    max-width: 25ch;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #services-2437 .cs-text {
    margin-top: 1rem;
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  #services-2437 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #services-2437 .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #services-2437 .cs-button-solid:hover:before {
    width: 100%;
  }
  #services-2437 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 1.9vw, 1.25rem);
  }
  #services-2437 .cs-item {
    list-style: none;
    width: 100%;
    grid-column: span 12;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #services-2437 .cs-item:hover .cs-border {
    opacity: 1;
  }
  #services-2437 .cs-link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 1.5rem clamp(1rem, 2.6vw, 1.25rem);
    background-color: #010104;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    position: relative;
    z-index: 2;
  }
  #services-2437 .cs-picture {
    width: 100%;
    height: 100vw;
    max-height: 26.25rem;
    display: block;
    position: relative;
  }
  #services-2437 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #services-2437 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    text-align: center;
    font-weight: 700;
    margin: 0;
    color: var(--bodyTextColorWhite);
    transition: color 0.3s;
  }
  #services-2437 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: center;
    margin: 0;
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  #services-2437 .cs-border {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.3s;
  }
  #services-2437 .cs-border:before {
    content: '';
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-2437 .cs-border:after {
    content: '';
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-2437 .cs-border1 {
    /* top left border */
  }
  #services-2437 .cs-border1:before {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, var(--primary) 0%, rgba(0, 0, 0, 0) 78%);
  }
  #services-2437 .cs-border1:after {
    width: 1px;
    height: 100%;
    background: linear-gradient(to bottom, var(--primary) 0%, rgba(0, 0, 0, 0) 78%);
  }
  #services-2437 .cs-border2:before {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 22%, var(--primary) 100%);
    top: auto;
    bottom: 0;
  }
  #services-2437 .cs-border2:after {
    width: 1px;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 22%, var(--primary) 100%);
    left: auto;
    right: 0;
  }
  #services-2437 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-2437 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.08;
    /* Makes img tag act as a background image */
    object-fit: cover;
    z-index: -2;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-2437 .cs-container {
    max-width: 80rem;
  }
  #services-2437 .cs-item {
    grid-column: span 6;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-2437 .cs-item {
    grid-column: span 3;
  }
  #services-2437 .cs-item:hover:before {
    opacity: 1;
  }
  #services-2437 .cs-item:hover .cs-h3 {
    color: var(--primary);
  }
}
                                