/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-315 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;
    }
    #stats-315 .cs-card-group {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 37.5rem;
        margin: auto;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2.5rem;
    }
    #stats-315 .cs-item {
        list-style: none;
        /* set fixed width so they can all be aligned on the left */
        width: 14.6875rem;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    #stats-315 .cs-picture {
        width: 5rem;
        height: 5rem;
        /* 12px - 20px */
        margin-right: clamp(0.75rem, 3vw, 1.25rem);
        border-radius: 50%;
        border: 1px solid #bababa;
        display: flex;
        justify-content: center;
        align-items: center;
        /* prevents flexbox from squishing it */
        flex: none;
    }
    #stats-315 .cs-icon {
        width: 2.5rem;
        height: auto;
    }
    #stats-315 .cs-flex-group {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
    #stats-315 .cs-number {
        font-size: var(--headerFontSize);
        color: var(--headerColor);
        font-weight: 900;
        line-height: 1.2em;
        margin: 0;
        display: block;
    }
    #stats-315 .cs-stat {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        color: var(--bodyTextColor);
        display: block;
    }
}
/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
    #stats-315 .cs-card-group {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 1.25rem;
        row-gap: 2rem;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #stats-315 .cs-card-group {
        max-width: 80rem;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
}

                                