.cs-button-2 
{
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 8vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    margin: auto;
    color: #fff;
    padding: 0 1.5rem;
    background-color: #9a6509;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: background-color 0.3s;
}
.cs-button-2:hover 
{
    background-color: #000;
}