/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-540 {
        /* 144px - 300px - leaving extra space for the navigation */
        padding: clamp(9rem, 25.95vw, 18.75em) 1rem 0;
        /* 130px - 175px */
        padding-bottom: clamp(8.125rem, 12.5vw, 10.9375em);
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        /* clips the color overlay so it doesn't cause an overflow */
        overflow: hidden;
        position: relative;
    }
    #hero-540 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #hero-540 .cs-content {
        text-align: left;
        /* changed to at tablet */
        width: 90%;
        max-width: 34.0625rem;
        /* 100px - 150px, changes to 0 at tablet */
        margin-top: clamp(6.25rem, 28vw, 9.375rem);
    }
    #hero-540 .cs-title {
        /* 39px - 61px */
        font-size: clamp(2.4375rem, 6.7vw, 3.8125rem);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        max-width: 43.75rem;
        /* 16px - 32px */
        margin: 0 0 clamp(1rem, 4vw, 2rem) 0;
        color: var(--bodyTextColorWhite);
        position: relative;
    }
    #hero-540 .cs-text {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        max-width: 40.625rem;
        /* 40px - 64px */
        margin: 0 0 clamp(2.5rem, 6.3vw, 4rem);
        color: var(--bodyTextColorWhite);
    }
    #hero-540 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: auto;
        color: #1a1a1a;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--secondary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
        transition: color 0.3s;
    }
    #hero-540 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #hero-540 .cs-button-solid:hover {
        color: #fff;
    }
    #hero-540 .cs-button-solid:hover:before {
        width: 100%;
    }
    #hero-540 .cs-background {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    #hero-540 .cs-background:before {
        /* background color overlay */
        content: "";
        position: absolute;
        display: block;
        height: 125rem;
        width: 187.5rem;
        background: rgba(12, 12, 12, 0.7);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        top: -38.125rem;
        left: 50%;
        z-index: 1;
        transform: rotate(-30deg) translateX(-50%);
    }
    #hero-540 .cs-background img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* Makes img tag act as a background image */
        object-fit: cover;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-540 .cs-container {
        align-items: flex-end;
    }
    #hero-540 .cs-content {
        width: 48%;
        margin-top: 0rem;
    }
    #hero-540 .cs-background:before {
        top: -76.25rem;
        transform: rotate(-55deg) translateX(-50%);
    }
}

                                