/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-696 {
        padding: var(--sectionPadding);
    }
    #stats-696 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #stats-696 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 32.625rem;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #stats-696 .cs-text {
        margin-bottom: 1rem;
    }
    #stats-696 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    #stats-696 .cs-color {
        color: var(--primary);
    }
    #stats-696 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #stats-696 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #stats-696 .cs-button-solid:hover:before {
        width: 100%;
    }
    #stats-696 .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(1rem, 2vw, 1.25rem);
    }
    #stats-696 .cs-item {
        list-style: none;
        /*chages at small desktop then again at large desktop */
        width: 100%;
        padding: 2.5rem 2rem;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        background-color: #fdfaf8;
        /* clips cs-icon overflowing */
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }
    #stats-696 .cs-number {
        /* 31px - 39px */
        font-size: clamp(1.9375rem, 6vw, 2.4375rem);
        line-height: 1.2em;
        font-weight: 900;
        margin: 0 0 0.75rem 0;
        color: var(--primary);
    }
    #stats-696 .cs-h3 {
        font-size: 1.25rem;
        line-height: 1.2em;
        font-weight: 900;
        margin: 0 0 0.5rem 0;
        color: var(--headerColor);
    }
    #stats-696 .cs-item-text {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        font-weight: 400;
        margin: 0;
        color: var(--bodyTextColor);
    }
    #stats-696 .cs-icon {
        width: 5.625rem;
        height: auto;
        position: absolute;
        top: -0.625rem;
        right: -1.25rem;
    }
}
/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
    #stats-696 .cs-card-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* makes all grid items stretch to have the same height if their content isnt all the same height */
        align-items: stretch;
    }
    #stats-696 .cs-item {
        grid-column: span 1;
        grid-row: span 1;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #stats-696 .cs-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #stats-696 .cs-card-group {
        width: 50%;
        /* prevents flexbox from squishing it */
        flex: none;
        /* sends it to the left in the first position */
        order: -1;
    }
}

                                