.cs-button-6 {
    text-align: center;
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 8vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    min-width: 10.875rem;
    margin: auto;
    color: #1a1a1a;
    padding: 0 0 0 1.5rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: #fff;
    display: inline-flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 1.5rem;
    position: relative;
    z-index: 1;
    transition:
        color 0.3s,
        border 0.3s;
}
.cs-button-6:before {
    /* background color */
    content: "";
    width: 0%;
    height: 100%;
    background-color: #1a1a1a;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
    z-index: -1;
}
.cs-button-6:after {
    /* button border */
    content: "";
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid #1a1a1a;
    /* prevents border from affecting height and width */
    box-sizing: border-box;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    transition: opacity 0.3s;
    z-index: 1;
    pointer-events: none;
}
.cs-button-6 .cs-wrapper {
    width: 2.75rem;
    height: auto;
    background-color: #fff;
    border-left: 2px solid #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    transition: border 0.3s;
}
.cs-button-6 .cs-wrapper:before {
    /* background color */
    content: "";
    width: 0%;
    height: 100%;
    background-color: #f15a24;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
    transition-delay: 0.1s;
    z-index: -1;
}
.cs-button-6 .cs-icon {
    width: 1.5rem;
    height: auto;
}
.cs-button-6 .cs-icon path {
    transition: fill 0.3s;
}
.cs-button-6:hover {
    color: #fff;
}
.cs-button-6:hover:before {
    width: 100%;
}
.cs-button-6:hover:after {
    opacity: 0;
}
.cs-button-6:hover .cs-wrapper {
    border-color: #1a1a1a;
}
.cs-button-6:hover .cs-wrapper:before {
    width: 100%;
}
.cs-button-6:hover .cs-icon path {
    fill: #fff;
}

                                