/* Mobile - 360px */
/* you can copy and paste these styles into the section CSS where you placed the #list-893 HTML, or you can place it in your global stylesheet so you can reuse the HTML in any Side By Side section on your site. That way when you make changes to it, it will also change everywhere in the site */
#list-893 {
    max-width: 39.375rem;
    margin: 0 0 2rem 0;
    padding: 0;
    columns: 2;
}
#list-893 .cs-li {
    list-style: none;
    margin: 0 0 0.5rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.75rem;
    position: relative;
}
#list-893 .cs-li:before {
    /* accent shape */
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    margin-top: 0.5rem;
    background: #bababa;
    border-radius: 0.25rem 0 0.25rem 0;
    display: block;
    /* prevents flexbox from squishing it */
    flex: none;
}

                                